

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    width: 100%;
    height: 100vh;
    background: #1c163f;
    overflow: hidden;
}

a
{
    text-decoration: none;
    color: aliceblue;
}

.home a
{
    color: #90e0ef;
    text-decoration: none;
    border-bottom:  5px solid #90e0ef;
}
.div
{
    color: aliceblue;
    width: auto;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div1
{
    width: 25%;width: 25%;
    margin-right: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div :hover
{
    color: #90e0ef;
}

.title a
{
    color: #ededed;
    font-weight: 600;
}

.cart
{
    position: absolute;
    width: 46%;
    height: 55%;
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.img2
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid  #ededed;
    filter: drop-shadow(7px 5px 25px #4895EF);
}

.name
{
    color: #4CC9F0;
    font-size: 40px;
    font-weight: 500;
    font-style: inherit;
}

.b1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.job_div
{
    font-size: 30px;
    width: 440px;
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.job1
{
    width: 70%;
    color: #3887BE;
}

.introduction
{
    height: auto;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}

.element
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge
{
    width: 500px;
    margin-top: 200px;
}

.contact_page
{
    width: 150px;
    border: 2px solid green;
    color: rgb(47, 0, 255);
    border-radius: 5px;
    padding: 5px;
    padding-left: 50px;
    margin-left: 40%;
    margin-top: 200px;
}

.project_page
{
    width: 83%;
    height: 900px;
    margin-top: 115px;
    margin-left: 10%;
}

.page2
{
    width: 100%;
    height: 900px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.minishell
{
    width: 30%;
    height: 70%;
    background-color: #390b50;
    border-radius: 30px;
    box-shadow: rgb(34, 33, 33) 3px 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.so_long
{
    width: 30%;
    height: 70%;
    background-color: #3c275b;
    border-radius: 30px;
    box-shadow: rgb(34, 33, 33) 3px 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.philo
{
    width: 30%;
    height: 70%;
    background-color: #302460;
    border-radius: 30px;
    box-shadow: rgb(34, 33, 33) 3px 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bash
{
    width: 100%;
    height: 300px;
    border-radius: 29px 29px 0px 0px;
}

.game
{
    width:  100%;
    height: 300px;
    border-radius: 29px 29px 0px 0px;
}

.dicart
{
    width:  100%;
    height: 300px;
    border-radius: 29px 29px 0px 0px;  
}

.mini_title
{
    color: #f8fafb;
    font-family: "Noto Serif", serif;
}

.philo_title
{
    color: #f8fafb;
    font-family: "Noto Serif", serif;
}

.so_long_title
{
    color: #f8fafb;
    font-family: "Noto Serif", serif;
}

.button
{
    background-color: yellow;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.button a
{
    color: black;
    font-family: "Noto Serif", serif;
    font-weight: 600;
}

.description
{
    color: #ededed;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-size: 20px;
    margin-left: 20px;
}

.so_long:hover
{
    width: 33%;
    height: 75%;
}

.minishell:hover
{
    width: 33%;
    height: 75%;
}

.philo:hover
{
    width: 33%;
    height: 75%;
}

.etc
{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ededed;
    font-family: "Roboto Condensed", sans-serif;
}

.e1
{
    font-size: 35px;
}

.c1
{
    font-size: 20px;
    margin-top: 10px;
}


@media (max-width: 500px)
{
    .img2
    {
        width: 100px;
        height: 100px;
    }
    .div1
    {
        width: 40%;
        font-size: 10px;
    }
    .introduction
    {
        font-size: 10px;
        width: 300px;
    }
    .b1
    {
        width: 350px;
    }
    .name
    {
        font-size: 15px;
    }
    .title
    {
        font-size: 15px;
    }
    .job_div
    {
        font-size: 15px;
        width: 200px;
    }
    .job1
    {
        width: 75%;
    }
    .cart
    {
        height: 30%;
    }
    .page2
    {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 400px)
{
    .cart
    {
        height: 250px;
    }
    .b1
    {
        width: 300px;
    }
    .img2
    {
        width: 80px;
        height: 80px;
    }
    .name
    {
        font-size: 13px;
    }
    
}